*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: bisque;
}

.center{
    text-align: center;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 20px 0;
    border: 1px solid;
    width: 450px;
}

h1{
    text-align: center;
}

.remember{
    margin: 0 80px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.remember a{
    margin-left: 60px;
    
}


#changeNo{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 48px;
    width: 400px;
    padding: 30px;
    height: 120px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 15px;
}


button{
    width: 300px;
    height: 50px;
    outline: 0;
    border: 0;
    color: white;
    background-color:slateblue;
    font-size: 24px;
    font-weight: 700;
    margin: 2px;
}


button:hover{
    background-color:rgb(75, 63, 153);
}


.txt-box{
    width: 300px;
    height: 50px;
    border: 0;
    outline: 0;
    margin: 5px 0;
    padding-left: 10px;
}